/* Growl messages positioned below Marvin's top bar. */
.ui-growl {
	margin-top: 60px;
}

/* Input fields manipulation. */
.ui-inputfield {
    width: 100%;
    padding: 6px 12px;
}
.ui-selectonemenu {
	width: 100%;	
}
div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
	width: 28px;
}
div.ui-selectonemenu-trigger.ui-state-default.ui-corner-right > .ui-c {
	margin-top: 7px;
}
.ui-autocomplete {
	width: 100%;	
}
.ui-datatable {
	margin-bottom: 5px;
}
.ui-datatable tr.ui-state-highlight {
	background: #0081c2;
}
#listingForm\3a trashGroup .box {
	margin-top: 20px;
}
#listingForm\3a trashGroup .ui-widget-content {
	border: none;
}

/* Password fields should occupy 50% instead. */
.ui-password {
	width: 50%;
}

/* Responsive buttons using bootstrap styles. */
.ui-grid .ui-button {
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	vertical-align: middle;
}
.ui-grid button.fa-fw {
	position: absolute;
	left: 0;
	top: 7px;
	bottom: 0;
	width: 32px;
	height: 100%;
	line-height: 34px;
	font-size: 1.4em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2);
	vertical-align: middle;
}
.ui-grid .ui-button-text {
	text-align: left;
}